@font-face {
    font-family: 'iransans';
    src: url('../font/IRANSansWeb.ttf');
    
}
@font-face {
    font-family: 'KumbhSans';
    src: url('../font/KumbhSans-Medium.ttf');
}
@font-face {
    font-family: 'Lalezar';
    src: url('../font/Lalezar\ Font.ttf');
}
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}
body {
  font-family: 'iransans', 'KumbhSans' , sans-serif;
 direction: rtl;
 background: #F0F0F1;
  /* background-color: #60b347; */
 
}
header{
    width: 100%;
    height: auto;

    background: #fff;
    box-shadow: 1px 13px 20px 4px rgb(0 0 0 / 6%);
}
.top-header{
    width: 100%;
    height: auto;

display: block;
display: grid;
grid-template-columns: 10% 65% 25%;
}
.logo-div{
    width: 100%;
    height: 100%;

}
.logo-div-h1{
    font-size: 28px;
    color: #425664;
    transition: all .5s;
}
.display-none{
    display: none;
}
.search-box-div{
    width: 100%;
    height: 100%;

    text-align: right;

}
.btn-bars{
    width: 30px;
    height: 30px;
    font-size: 30px;
    border: none;
    background: none;
    margin: 18px 0;
}
.search-box-div i,.search-box-2 i{
  
   transform: translateY(3px) translateX(-50px);
   font-size: 20px;
   color: #8B949B;
z-index: 1000;
}
.search-box-2 i{
    transform: translateY(3px) translateX(0px);
    position: relative;
}
#search2{
    transform: translateX(20px);
    width: 100% !important;
    padding: 0 10px !important;
}
#search, #search2{
    width: 70%;
    height: 45px;
    border-radius: 5px;
    background: #F0F0F1;
    border: none;
    padding: 0 40px;
    margin: 10px 20px 10px 0;
    transition: all .15s;
}

#search:focus{
    outline: none;
    box-shadow: 0 0 8px 3px rgb(0 0 0 / 6%);
    background: #fff;
}
#search::placeholder,#search2::placeholder{
    color: #8B949B;
    font-size: 13px;
}
.button-login-and-card-div{
    width: 100%;
    height: 100%;
  display: grid;
  grid-template-columns: auto 5% 10%;
}
.login-or-singup-button{
    cursor: pointer;
    width: 171px;
    height: 45px;
    border-radius: 5px;
    background: none;
    border: 1px solid #4256641f;
    color: #425664;
    padding:  12px;
    margin: 10px 0;
    display: inline-block;
    transition: all .15s ease;
}
.login-or-singup-button:hover{
    background: #425664;
   
    color: #fff;
}
.login-or-singup-button p{
    display: inline;
    font-size: 13px;
    margin-left: 5px;
}
.login-or-singup-button i{
    display: inline-block;
    font-size: 13px;
    transform: scale(1.5);
    margin-left: 5px;
}
.hr-y{
    display: inline-block;
    width: 1px;
    height: 35px;
    background: #4256641f;
    margin: 15px 8px;
}
.cart{
    display: inline-block;
    width: 100%;

}
.cart i{
    
 transform: scale(1.5) translateY(15px);
    
}
.bottom-header{
    width: 100%;
    text-align: right;
    padding: 5px 10px;
    padding-bottom: 20px;
}
.bottom-header ul{
    list-style: none;
}
.bottom-header ul li{
    display:  inline-block;
}
.bottom-header ul li a{
    color: #425664;
    margin: 20px 10px;
    text-decoration: none;
}

/* main */

.box-one{
    width: 100%;
    height: 1000px;
  /* display: grid;
  grid-template-columns: 20% 80%; */
    margin-top: 10px;
}
/* .left{
    width: 100%;
    height: 100%;
   
}
.right{
    width: 100%;
    height: 100%;
    background: blue;
} */

.owl-carousel{
    direction: ltr !important;
}
.slider-box{
   
    width: 100%;
    height: 450px;
   
    margin: 20px 0;
    display: grid;
    grid-template-columns: 68.9% 30%;
    grid-template-areas: "big-slider mini-slider-top " "big-slider mini-slider-button ";
    gap: 15px;
    
}
.big-slider{
    position: relative;
    width: 100%;
    height: 400px;

    grid-area: big-slider;
    border-radius: 10px;
}
.mini-slider-button{
    width: 100%;
    height: 100%;
  
    grid-area: mini-slider-button;
    border-radius: 10px;
}
.mini-slider-top{
    width: 100%;
    height: 100%;
   
    grid-area: mini-slider-top;
    border-radius: 10px;
}
.mini-slider-top img,.mini-slider-button img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.div img{
width: 100%;

border-radius: 10px;
}
.owl-1 .owl-prev span{
    top: 40%;
    left: 2%;
    background: #4256647e;
  padding: 0px 20px;
  color: #fff;
  border-radius: 50%;
  position: absolute;
    font-size: 50px;
    transition: all .15s;
}
.owl-1 .owl-next span{
    top: 40%;
    right: 2%;
    background: #4256647e;
  padding: 0px 20px;
  color: #fff;
  border-radius: 50%;
  position: absolute;
    font-size: 50px;
    transition: all .15s;
}
.owl-1 .owl-prev span:hover,.owl-1 .owl-next span:hover{
    background: #425664;
}
.owl-1 .owl-dot{
position: relative;
  top: -60px;
    width: 12px;
    height: 12px;
    background: #b1b6b9 !important;
    margin: 5px;
    border-radius: 50%;
}
.owl-1 .owl-dot.active{
    background: #425664 !important;
    width: 15px !important;
    height: 15px !important;
}
.takhfif-box{
    width: 100%;
 
    overflow-y: hidden;
    overflow-x: auto;
    height: 500px;
    background: #425664;
    padding: 30px 0;
}
.box-1{
    min-width: 1300px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
  
}
.box-1 .right{
    width: 100%;
    height: 100%;
    
}
.box-1 .left{
    width: 100%;
    height: 100%;
    
}
.box-1-1{
    width: 100%;
    height: 40%;
  
}
.box-1-1 p{
    font-size: 40px;
    padding: 80px 60px;
    font-family: 'Lalezar';
    color: #fff;
}
.box-1-2{
    width: 100%;
    height: 60%;
   
}
.box-1-2 img{
    width: 70%;
}
.box-jens{
    border-radius: 5px;
    width: 250px;
    height: 100%;
    margin: 0 10px;
    background: #fff;
    display: inline-block;
}
.img-box-jens{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 50%;
  
}
.img-box-jens img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 80%;
    
}
.name-box-jens{
    width: 100%;
    height: 10%;
    text-align: right;
    padding: 0 20px;
    margin: 10px 0;
}
.name-box-jens{
    font-size: 14px;
  
}
.caption-box-jens{
    width: 100%;
    height: 20%;
    text-align: left;
    padding: 0 20px;
    margin: 20px 0;
}
.off-box{
   padding: 4px 6px 0px 6px; 
   display: inline-block;
   font-size: 20px;
   color: #fff;
   font-family: 'Lalezar';
    background: red; border-radius: 30px;
}
.last-off-gimat{
    display: inline-block;
    color: #868686;
    text-decoration:line-through;
    font-size: 14px;
}
.off-gimat{
    margin: 10px 0;
    font-size: 20px;
}
.kharid-a{
    display: block;
    width: 85%;
    margin: 10px auto;
    
    font-size: 18px;
    padding: 15px 0;
    height: 50px;
    background: none;
    text-decoration: none;
    color: #425664;
    border-radius: 5px;
    border: 1px solid #425664;
    transition: all .15s ease;
}
.kharid-a:hover{
 
    color: #fff;
  background: #425664d2;
    
}
.left{
    position: relative;
}
.black-page,.black-page-2{
    position: fixed;
background: rgb(0 0 0 / 60%);
width: 100vw;
height: 100vh;
    z-index: 999;
    visibility: hidden;
    opacity: 1%;
    transition: all .3s ease;
}
.visibility-hidden{
    visibility: hidden !important;
    opacity: 1% !important;
    }
.visibility-show{
visibility: unset !important;
opacity: 100% !important;
}
.owl-2 .owl-prev span{
    top: 40%;
    left: 1%;
    background: #fff;
    box-shadow: 6px 1px 15px 2px rgb(0 0 0 / 15%);
    padding: 12px 15px;
  color: #425664;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
    font-size: 50px;
    transition: all .15s;
}
.owl-2 .owl-next span{
    top: 40%;
    right: 0%;
    background: #fff;
    color: #425664;
    padding: 12px 15px;
    box-shadow: -6px 1px 15px 2px rgb(0 0 0 / 15%);
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
  position: absolute;
    font-size: 50px;
    transition: all .15s;
}

/* #footer */

footer{
    width: 100%;
    height: auto;
    background: #fff;
    /* box-shadow: 0 -10px 20px 5px rgb(0 0 0 / 10%); */
    border-top: 1px solid rgb(0 0 0 / 20%);
}
.top-footer{
padding-bottom: 40px;
border-bottom: 1px solid rgb(0 0 0 / 15%);

}
.up-and-logo{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.ss{
    font-family: 'Lalezar';
    font-size: 40px;

    color: #425664;
    transition: all .5s;
}
.up{
    /* width: max-content;
    height: max-content; */
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background: none;
    border-radius: 10px;
    border: 1px solid rgb(0 0 0 / 30%);
color: rgb(0 0 0 / 50%);
margin: 26px 0;
}
.tel{
    width: 100%;
    text-align: right;
    font-size: 14px;
    color: #454545;
    
}
.tel span{
    color: rgb(0 0 0 / 30%);
    margin: 0 20px;
}
.menu-footer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 22% 22% 22% 30%;
    gap: 10px;
    margin-top: 30px;
    /* padding-bottom: 40px; */
border-bottom: 1px solid rgb(0 0 0 / 15%);
}
.menu-footer div{
    /* background: red; */
    width: 100%;
    height: 100%;
}
.menu-item-1{
    text-align: right;
}
.menu-item-1 h3{
color: #454545;
}
.menu-item-1 a{
   color: #868686;
   margin: 20px 0;
   text-decoration: none;
   display: block;
    }
    #email{
        width: 70%;
        height: 45px;
        border-radius: 5px;
        background: #F0F0F1;
        border: none;
        padding: 0 20px;
        margin: 30px 0;
        transition: all .15s;
    }
    #email:focus{
        outline: none;
    }
    #email::placeholder{
        color: #8B949B;
        font-size: 13px;
    }
    #submit-email{
        width: 15%;
        height: 45px;
        border-radius: 5px;
        background: #c4c4c4;
        color: #fff;
        border: none;
        transition: all .15s;
    }
    #submit-email:hover{
 background: #425664;
    }
    .logo-etemad{
        border-bottom: 1px solid rgb(0 0 0 / 15%);
    }
    .copy-r{
        width: 100%;
        height: 50px;
        text-align: center;
padding: 15px 0;
        color: #686868;

    }
    .copy-r a{
   text-decoration: none;
   border-bottom: 1px solid #686868;
        color: #686868;
        
    }
    .pop-up-panel{
        width: 400px;
        height: 450px;
        background: #fff;
        border-radius: 10px;
        position: fixed;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 20%;
        right: 0;
        z-index: 1001;
        opacity: 1%;
        visibility: hidden;
        transition: all .3s ease;
        padding: 20px;
    }
    .show-pop-up{
        opacity: 100% !important;
        visibility: unset !important;
        bottom: 0 !important;
    }
    .top-login{
        width: 100%;
        height: 50px;
        border-bottom: 1px solid rgb(0 0 0 / 15%);
        display: grid;
        grid-template-columns: 50% 50%;
        color: #425664;
    }
    .top-login button{ cursor: pointer;
        width: 20px;
        height: 20px;
        background: none;
        border: none;
        font-weight: 700;
        margin: 10px 0;
    }
    .top-login h3{
   font-size: 25px;
        margin: 3px 0;
    }
    .main-login{
        margin-top: 30px;
        border-bottom: 1px solid rgb(0 0 0 / 15%);
        padding-bottom: 20px;
    }
    #username,#password{
        width: 100%;
        height: 50px;
        border: 1px solid rgb(0 0 0 / 20%);
        background: #F0F0F1;
        border-radius: 10px;
        padding: 0 20px;
        transition: all .15s ease;
    }
    #username:focus,#password:focus{
        background: #fff;
        border: none;
        box-shadow: 0 0 8px 3px rgb(0 0 0 / 6%);
        outline: none;
    }
    #for_user,#for_pass{
        display: block;
        color: #425664;
        margin: 10px 0;
        font-size: 14px;
    }
    #for-check{
        color: #425664;
        font-size: 14px;
    }
    #check{
        margin: 20px 0;
        transform: scale(1.3) translateY(2px);
    }
    #submit-login{
        width: 100%;
        height: 50px;
        border: none;
        color: #fff;
        background: #425664;
        border-radius: 10px;

    }
    .pop-up-panel p{
        font-size: 15px;
        color: #425664;
        margin: 20px 0;
    }
    .pop-up-panel p a{
        font-size: 15px;
        color: #425664;
        text-decoration: none;
        border-bottom: 1px solid #425664;
    }