.app {
  text-align: center;
  width: 1300px;
}
/* media */
@media (max-width: 1299.98px) {
  .app {
    width: 1092px;
  }
  .slider-box{
    height: 380px;
  }
  .big-slider{
    height: 380px;
  }
}
@media (max-width: 1091.98px) {
  .app {
    width: 868px;
  }
  .slider-box{
    height: 300px;
  }
  .big-slider{
    height: 300px;
  }
}
@media (max-width: 867.98px) {
  .app {
    width: 676px;
  }
.search-box-div{
  display: none;
}
.div-b,.hr-y,.cart{
  display: none;
}
.logo-div-h1{
  display: none;
}
.top-header{
  grid-template-columns: 50% 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 10%);
}
.button-login-and-card-div{
  grid-template-columns: auto;
  text-align: left;
}
.display-none{
  display: block;
}

.ok{
  display: grid;
  grid-template-columns: 80% 20%;
}
.dispaly-inline{
  display: inline-block !important;
}

.bottom-header{
  padding: 0;
}
.login-or-cart-2{
  display: grid !important;
  grid-template-columns: auto auto auto;
  width: 90%;
  margin-left: 0;
  color: #425664;
}
.ul-menu{
position: fixed;
top: 0;
right: -100%;
width: 70%;
height: 100vh;
background: #fff;
z-index: 1000;
box-shadow: -6px 1px 15px 2px rgb(0 0 0 / 15%);
transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.open-nav{
  right: -5% !important;
}
.ul-menu li{
  width: 100%;
  text-align: right;
  padding: 15px 40px;
  border-bottom: 1px solid rgb(0 0 0 / 15%);
}
.menu-logo{
  width: 100%;
  text-align: center;

}
.mini-slider-button,.mini-slider-top{
display: none;
}
.slider-box{
margin-top:20px;
  grid-template-areas: "big-slider big-slider" "big-slider big-slider";
  height: auto;
}
.big-slider{

  height: auto;

}
.owl-1 .owl-dot{
  top: 0;
}
.box-1 .left{
  width: max-content;
}
.box-jens{
  width: 200px;
  height: auto;
  
}
.name-box-jens{
  height: auto;
}
.caption-box-jens {
  margin: 0;
}
.takhfif-box{
  height: auto;
}

.box-1-1 p{
  padding: 30px 60px;
}
.box-1-2 img {
    width: 50%;
}
.owl-2{
  display: none !important;
}
.menu-footer{
  grid-template-columns: auto;
}
.menu-footer div{
  text-align: center;
}
.baner-1{
  grid-template-columns: auto;
  margin-top: 30px;
}
.baner-1-item-left img , .baner-1-item-right img{
  width: 100%;
  
}
}
@media (max-width: 675.98px) {
  .app {
    width: calc(100% - 30px);
    padding: 0 15px;
  }
  .i-login{
    display: none !important;
  }
  
  
}